{% extends 'base.html.twig' %}

{% block title %}Membres{% endblock %}

{% block body %}
    <h1>Liste des membres</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.email }}</td>
                <td>
                    <a href="{{ path('app_member_show', { id: member.id }) }}">
                        Voir la fiche
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun membre en base.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
